.fontn1{
    font-family: 'Noto Sans SC', sans-serif;
    font-size:2.5rem;
    margin-top: 5%;
}

.img{
    height: 60vh;
    width: 90vw;
    background-color:#c5c1c9;
    border: 1px solid black;
    padding: 10px;
    border-radius:40px;
}

.notify{
    font-size: 1.3rem;
}